@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .connectWalletBtn {
        @apply bg-pink-500 text-white font-bold py-2 px-4 rounded cursor-pointer;
    }

    .headerLink {
        @apply hidden md:inline-flex cursor-pointer;
    }

    .link {
        @apply hover:text-pink-500 hover:underline cursor-pointer text-gray-600 dark:text-gray-300;
    }

    .card {
        @apply border border-gray-200 dark:border-gray-700 rounded-md shadow-md bg-gray-50 dark:bg-gray-800 cursor-pointer hover:bg-gray-100 p-5;
    }

    .neonBtn {
        @apply relative flex items-center justify-center space-x-4 divide-gray-600 rounded-lg bg-white px-7 py-4 leading-none text-black transition duration-200 hover:text-purple-500 dark:bg-black dark:text-white dark:hover:text-purple-300;
    }
}

/* react-modal */
.ReactModal__Body--open {
    overflow: hidden;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 300ms linear;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.drawer.ReactModal__Content {
    transform: translateX(100%);
    transition: transform 500ms ease-in-out;
}

.drawer.ReactModal__Content--after-open {
    transform: translateX(0);
}

.drawer.ReactModal__Content--before-close {
    transform: translateX(100%);
}

/* next-themes */
.dark {
    color: #fff;
    background: #0f1217;
}
